
<h1>AWWW Pet Shop</h2>

<div class="view">
    {{#each petList}}
    <div class="profile">
    <img src="{{imgUrl}}" alt="pet-image-here" />
        <div class="info">
        <h3>{{name}}</h3>
        <a href="/main/{{petId}}">View Pet</a>
        <a href="/main/edit/{{petId}}">Edit Pet</a><br>
        <br>
        <form action="/main/delete/{{petId}}" method="POST">
            <button type="submit">Delete Pet</button>
        </form>
        </div>
    </div>

    {{/each}}
    
</div>

<form action="/main/add/">
        <button type="submit">Add New Pet</button>
</form>

